.wrapper {
    max-width: 1200px;
    min-height: calc(100vh - 278px);
    margin: 0 auto;
    padding: 20px;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
