<table class="table">
    <thead>
        <tr>
            <th class="th__order-num">Номер заказа</th>
            <th class="th__date">Дата доставки</th>
            <th class="th__payment">Метод оплаты</th>
            <th class="th__delivery">Доставка</th>
            <th class="th__total-price">Сумма к оплате</th>
            <th class="th__buttons"></th>
        </tr>
    </thead>
    <tbody *ngFor="let order of orders">
        <tr class="tr__order-info">
            <td class="td__order-num order-info">{{order.id}}</td>
            <td class="td__date order-info">{{order.details.timeToDeliver}}</td>
            <td class="td__price order-info">Наличные</td>
            <td class="td__delivery order-info">Курьером по адресу: {{order.details.address}}</td>
            <td class="td__quantity order-info">{{getTotalOrderSum(order)}} p.</td>
            <td class="td__buttons">
                <button class="item__delete_btn btn" (click)="onDeleteBtnClick(order.id)">Удалить</button>
                <button class="item__edit_btn btn" (click)="onEditBtnClick(order)">Изменить</button>
                <button class="item__detailes_btn btn" (click)="onDetailesBtnClick()"><img src="assets/icons/arrow.svg"
                        alt="" class="item__detailes-arrow" [ngClass]="isDetailes ? 'rotate' : ''"></button>
            </td>
        </tr>
        <tr class="tr__subheader" [ngClass]="isDetailes ? '' : 'hidden'">
            <th></th>
            <th class="th__name subheader">Товар</th>
            <th class="th__price subheader">Цена</th>
            <th class="th__quantity subheader">Количество</th>
            <th class="th__total-price subheader">Стоимость</th>
            <th class="th__buttons"></th>
        </tr>
        <tr class="tr__order-detailes" [ngClass]="isDetailes ? '' : 'hidden'" *ngFor="let item of order.items">
            <td></td>
            <td class="td__name order-detales">{{item.name}}</td>
            <td class="td__price order-detales">{{item.price}} p.</td>
            <td class="td__quantity order-detales">{{item.amount}}</td>
            <td class="td__total-price order-detales">{{getSum(item.price, item.amount)}} p.</td>
        </tr>
    </tbody>
</table>
<app-edit-form-popup (submitOrder)="onSubmitOrder($event)" *ngIf="isEditMode"></app-edit-form-popup>
