.categoties__container {
    max-width: 1200px;
    min-height: calc(100vh - 278px);
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
}

.categories__list {
    width: 250px;
}

.categories__list-item {
    padding: 5px 0;
}

.categories__list-item:hover {
    background-color: rgba(229,46,107,.1);
}

.categories__list-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
}

.categories__list-link:hover {
    color: #8f0808;
}

.categories__list-item.active {
    background-color: rgba(229,46,107,.1);

    .categories__list-link {
        color: #8f0808;
    }
}

.icon {
    width: 25px;
    height: 25px;
}

.category__info {
    border-left: 2px solid #e5e5e5;
    padding: 0 20px;
}

.category__name {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.category__info-container {
    max-width: 900px;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
