table {
    width: 100%;
    margin-bottom: 20px;
}

th {
    width: 200px;
    height: 50px;
    vertical-align: middle;
    font-weight: 600;
}

td {
    padding: 10px 5px;
    text-align: center;
}

thead {
    border-top: 1px solid gray;
}

.tr {
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding: 20px;
}

.td__name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    color: #0072BC;
}

.td__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.btn {
    color: #0072BC;
    text-decoration-color: #0072BC;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    background-color: transparent;

    &:hover {
        color: #EA1653;
        text-decoration-color: #EA1653;
    }
}
