<table class="table">
    <thead>
        <tr>
            <th class="th__img">Заказ</th>
            <th class="th__name">Товар</th>
            <th class="th__quantity">Количество</th>
            <th class="th__price">Стоимость</th>
            <th class="th__delivery">Адрес доставки</th>
            <th class="th__buttons"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="tr">
            <!-- *ngFor="let item of items"> -->
            <td class="td__order-num">115</td>
            <td class="td__name">Item name</td>
            <td class="td__quantity">5</td>
            <td class="td__price">211</td>
            <td class="td__delivery">Курьером: сегодня</td>
            <td class="td__buttons">
                <button class="item__delete_btn btn">Удалить</button>
                <button class="item__edit_btn btn">Изменить</button>
            </td>
        </tr>
    </tbody>
</table>
