<div class="item">
    <h3 class="item__title" (click)="goToItemDetailedPage()">{{item?.name}}</h3>
    <div class="item__pic"><img [src]="imageUrl" alt="" class="item__img"></div>
    <div class="item__amount"><img src="assets/icons/tick.svg" alt="" class="item__amount_icon icon"> В наличии</div>
    <div class="item__price">{{item?.price | number : "0.2"}} p.</div>
    <div class="item__rating">{{item?.rating}}
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
    </div>
    <!-- <button class="item__add-busket_btn" *ngIf="!isOrdered; else goToBusket" (click)="onBasketBtnClick(item?.id)">В
        корзину</button>
    <ng-template #goToBusket>
        <button class="item__go-busket_btn" routerLink="/order">В корзинe</button>
    </ng-template> -->

    <app-add-to-basket-button [itemId]="item?.id"></app-add-to-basket-button>

    <button class="item__add-favorites_btn" *ngIf="!isFavorite; else goToFavorite"
        (click)="onFavoriteBtnClick(item?.id)"><img src="assets/icons/heart.svg" alt=""
            class="item__favorites_icon icon">Добавить в
        избранное</button>
    <ng-template #goToFavorite>
        <button class="item__go-favorites_btn" routerLink="/favorite"><img src="assets/icons/heart_blue.svg" alt=""
                class="item__favorites_icon icon">В избранном</button>
    </ng-template>

</div>
