<div class="item">
    <h3 class="item__title" (click)="goToItemDetailedPage()">{{item?.name}}</h3>
    <div class="item__pic"><img [src]="imageUrl" alt="" class="item__img"></div>
    <div class="item__amount"><img src="assets/icons/tick.svg" alt="" class="item__amount_icon icon"> В наличии</div>
    <div class="item__price">{{item?.price | number : "0.2"}} p.</div>
    <div class="item__rating">{{item?.rating}}
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
    </div>
    <button class="item__add-busket_btn" (click)="onBasketBtnClick(item?.id)">В корзину</button>
    <button class="item__add-favorites_btn" (click)="onFavoriteBtnClick(item?.id)"><img src="assets/icons/heart.svg"
            alt="" class="item__favorites_icon icon">Добавить в
        избранное</button>
</div>
