<div class="item">
    <h3 class="item__title" (click)="goToItemDetailedPage()">{{item?.name}}</h3>
    <div class="item__pic"><img [src]="imageUrl" alt="" class="item__img"></div>
    <div class="item__amount">
        <svg class="icon-amount_color" [appColor]="item?.availableAmount || null" viewBox="0 0 24 24" width="24"
            height="24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2Zm4.71 7.71-5 5a1 1 0 0 1-1.42 0l-2-2a1 1 0 0 1 1.42-1.42l1.29 1.3 4.29-4.3a1 1 0 0 1 1.42 1.42Z" />
        </svg>
        В наличии
    </div>
    <div class="item__price">{{item?.price | number : "0.2"}} p.</div>
    <app-item-rating [itemRating]="item?.rating"></app-item-rating>
    <app-add-to-basket-button [itemId]="item?.id"></app-add-to-basket-button>
    <app-add-to-favorite-button [itemId]="item?.id"></app-add-to-favorite-button>
</div>
