<div class="info__wrapper">
  <div class="info__location">
    <div class="info__location-icon">
      <img class="info__location-pic" src="assets/icons/location.svg" alt="">
    </div>
    <p class="info__location-text">Minsk</p>
  </div>
  <div class="info__inner-wrapper">

    <div class="info__contacts">

      <div class="info__contacts-viber">
        <img class="info__viber-pic" src="assets/icons/viber.png" alt="">
        <p class="info__contacts-text">Viber</p>
      </div>

      <div class="info__contacts-a1">
        <!--<img class="info__a1-pic" src="assets/icons/a1_.png" alt="">-->
        <span class="info__velcom-icon">A<span class="velcom">1</span></span>
        <p class="info__contacts-text">+375-29-655-10-55</p>
      </div>

      <div class="dropdown scale">
        <div class="dropdown__btn">
          <span class="dropdown__text">More</span>
          <div class="dropdown__arrow">
            <img class="dropdown__arrow_svg" src="assets/icons/arrow.svg">
          </div>
        </div>
        <div class="dropdown__menu">
          <ul>
            <li><span class="icon-life">:)</span>+375-29-555-10-55</li>
            <li><img class="icon" src="assets/icons/old-phone.png">+375-17-255-10-55</li>
            <li><img class="icon" src="assets/icons/telegram_black.png">Telegram</li>
            <li><img class="icon" src="assets/icons/mail.png">e-mail</li>
            <li><img class="icon" src="assets/icons/phone-call.png">request a call</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="info__working-hours">
      <img class="info__watch-pic" src="assets/icons/watch.png" alt="">
      <p class="info__working-hours-text">Contact Center <br> from 8:00 to 22:00</p>
    </div>
  </div>

</div>
