<div class="item">
    <div class="item__pic"><img [src]="imageUrl" alt="" class="item__img"></div>

    <div class="item__wrapper">
        <h3 class="item__title">{{item?.name}}</h3>
        <!-- (click)="goToItemDetailedPage()" -->
        <div class="item__rating">{{item?.rating}}
            <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
            <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
            <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
            <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
            <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
        </div>
        <div class="item__price">{{item?.price | number : "0.2"}} p.</div>

        <button class="item__add-busket_btn" (click)="onGetItemId(item?.id)">В корзину</button>
        <button class="item__delete_btn btn">удалить</button>
    </div>
</div>
