<div class="category__nav">
    <div class="category__nav-wrapper">
        <ul class="category__nav-list">
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
            <li class="category__nav-item"><a class="category__nav-link" href="">Noutbook</a></li>
        </ul>
    </div>
</div>
