.orders {
    max-width: 1200px;
    min-height: calc(100vh - 278px);
    margin: 0 auto;
    padding: 20px 0;
}

.orders__title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
