<div #cover class="cover">
    <app-registration-popup *ngIf="$isRegistration | async; else loginForm"></app-registration-popup>
    <ng-template #loginForm>
        <form class="form">
            <div class="form__close-item" (click)="onCloseItemClick()">x</div>
            <h2 class="form__title">Вход</h2>
            <div class="form__input-wrap">
                <label>Логин</label>
                <input #inputEmail type="text" class="user__name form__input" required
                    (input)="onGetEmailInputValue(inputEmail)">
            </div>
            <div class="form__input-wrap">
                <label>Пароль</label>
                <input #inputPassword type="password" class="user__password form__input" required
                    pattern="[0-9a-zA-Z!@#$%^&*]{1,}" (input)="onGetPasswordInputValue(inputPassword)">
            </div>
            <button type="button" class="submit-btn" (click)="onSubmit()"
                [ngClass]="inputEmail.validity.valid && inputPassword.validity.valid ? 'activ-btn' : ''"
                (click)="onSubmit">Войти</button>
            <button class="registration-btn" (click)="onRegistrationBtnClick()">Регистрация</button>
        </form>
    </ng-template>
</div>
