<div class="items__wrapper">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a routerLink="/categories" class="breadcrumbs__link">{{categories}}</a><span
                class="breadcrumbs__arrow">></span></li>
        <li class="breadcrumbs__item"><a routerLink="/categories/{{categoryId}}" class="
                breadcrumbs__link">{{categoryName}}</a></li>
    </ul>
    <h2 class="items__subcategory-name">{{subcategoryName}}</h2>
    <div class="devider"></div>
    <div class="items__sorting">
        <p class="items__sorting-text">Сортировать по:</p>
        <button class="rating-sort-btn btn" (click)="onSortItemsByRating()">популярности</button>
        <button class="price-sort-btn btn" (click)="onSortItemsByPrice()">цене</button>
    </div>
    <div class="pagination">
        <div class="page">
            <span class="page__arrow-left" [ngClass]="isFirstPage ? 'hidden' : ''" (click)="goToPrevPage()">&lt;</span>
            Страница {{pageNum}}
            <span class="page__arrow-right" [ngClass]="isLastPage ? 'hidden' : ''" (click)="goToNextPage()">&gt;</span>
        </div>
    </div>
    <div class="items__container">
        <app-item-card *ngFor="let item of ($pagesItems | async) | sort: ($sortOrder | async) : ($sortParam | async)"
            [item]="item">
        </app-item-card>
    </div>
</div>
