<div class="items__container">
    <div class="item" *ngFor="let item of items">
        <div class="item__pic"><img [src]="getImageUrl(item)" alt="" class="item__img"></div>
        <div class="item__wrapper">
            <h3 class="item__title">{{item?.name}}</h3>
            <!-- (click)="goToItemDetailedPage()" -->
            <div class="item__rating">{{item?.rating}}
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
            </div>
            <div class="item__price">{{item?.price | number : "0.2"}} p.</div>
        </div>
    </div>
</div>
