<div class="benefites__wrapper">
    <div class="devider"></div>
    <h2 class="benefits__title">Преимущества нашего приложения</h2>
    <div class="benefits__inner-wrap">
        <div class="benefits">
            <div class="benefits__inner-wrap">
                <div class="benefit">
                    <img src="assets/icons/tick-red.png" alt="" class="benefit__icon">
                    <p class="benefit__text">Простота в использовании</p>
                </div>
                <div class="benefit">
                    <img src="assets/icons/tick-red.png" alt="" class="benefit__icon">
                    <p class="benefit__text">Быстрая загрузка контента</p>
                </div>
                <div class="benefit">
                    <img src="assets/icons/tick-red.png" alt="" class="benefit__icon">
                    <p class="benefit__text">Удобный интерфейс</p>
                </div>
            </div>
            <div class="benefits__inner-wrap">
                <div class="benefit">
                    <img src="assets/icons/tick-red.png" alt="" class="benefit__icon">
                    <p class="benefit__text">Мгновенное обновление данных</p>
                </div>
                <div class="benefit">
                    <img src="assets/icons/tick-red.png" alt="" class="benefit__icon">
                    <p class="benefit__text">Доступ к товарам из любой части приложения</p>
                </div>
                <div class="benefit">
                    <img src="assets/icons/tick-red.png" alt="" class="benefit__icon">
                    <p class="benefit__text">Возможность добавлять товар в корзину и избранное без регистрации</p>
                </div>
            </div>
        </div>
    </div>
</div>
