<nav class="nav">
      <div class="nav__logo"><a class="nav__logo-link" href="">RS-shop.by</a></div>
      <button class="nav__catalog-btn btn"><img class="icon" src="assets/icons/catalog_stand.png">Catalog</button>
      <input class="nav__search-input" type="text" placeholder="Search">
      <button class="nav__account-dropdown btn"><img class="icon" src="assets/icons/account.svg">Account<img
            class="dropdown__arrow_svg" src="assets/icons/arrow.svg"></button>
      <button class="nav__account-busket btn"><img class="icon-arrow" src="assets/icons/trolley.svg">Busket</button>
</nav>
