<nav class="nav">
        <!--*ngIf="{segments: (activatedRoute.firstChild?.url | async) || []} as data"> [ngClass]="data.segments[0]?.path === 'categories' ? 'disabled' : ''">-->
        <div class="nav__logo"><a class="nav__logo-link" routerLink="/main">RS-shop.by</a></div>
        <button class="nav__catalog-btn btn" (click)="goToCategoriesPage()"
                [ngClass]="isCategoriesPage ? 'disabled' : ''">
                <img class="icon" src="assets/icons/catalog_stand.png">Каталог</button>
        <div class="nav__search scale">
                 <input #searchText class="nav__search-input" type="text" placeholder="Поиск товаров">
                <div class="dropdown__menu">
                        <ul class="dropdown__list">
                                <li class="dropdown__list-item" *ngFor="let searchItem of $searchItems | async"
                                        routerLink="/categories/{{searchItem.category}}/{{searchItem.subCategory}}/{{searchItem.id}}"
                                        (click)="clearInputValue(searchText)">
                                        <a
                                                routerLink="/categories/{{searchItem.category}}/{{searchItem.subCategory}}/{{searchItem.id}}">{{searchItem.name}}</a>
                                </li>
                        </ul>
                </div>
        </div>
        <div class="dropdown scale">
                <button class="nav__account-dropdown btn"><img class="icon" src="assets/icons/account.svg">Аккаунт<img
                                class="dropdown__arrow" src="assets/icons/arrow.svg"></button>
                <div class="dropdown__menu account-dropdown">
                        <ul class="dropdown__list">
                                <li class="dropdown__list-item item-avatar">
                                        <img class="icon-avatar" src="assets/icons/avatar.svg">
                                        <button class="dropdown__enter-btn">Enter</button>
                                </li>
                                <li class="dropdown__list-item"><a routerLink="/order" class="dropdown__list-link"><img
                                                        class="icon" src="assets/icons/trolley.svg">Корзина</a></li>
                                <li class="dropdown__list-item"><a routerLink="/favorite"
                                                class="dropdown__list-link"><img class="icon"
                                                        src="assets/icons/heart_1.svg">Избранные товары</a></li>
                                <li class="dropdown__list-item"><img class="icon"
                                                src="assets/icons/view.svg">Просмотренные
                                </li>
                                <li class="dropdown__list-item"><img class="icon"
                                                src="assets/icons/comparison.svg">Списки сравнения</li>
                        </ul>
                </div>
        </div>
        <button class="nav__account-busket btn" routerLink="/order" [ngClass]="isOrdersPage ? 'disabled' : ''"><img
                        class="icon-arrow" src="assets/icons/trolley.svg">Корзина</button>
</nav>
