<div class="categoties__container">
    <ul class="categories__list">
        <li class="categories__list-item" *ngFor="let category of categories"
            (mouseover)="onCategoryMouseOver(category.id)"><a routerLink="/categories/{{category.id}}"
                class="categories__list-link"><img class="icon" [src]="category.src" alt="">{{category.name}}</a>
        </li>
    </ul>
    <div class="category__info">
        <h2 class="category__name">{{categoryName}}</h2>
        <div class="category__info-container">
            <app-subcategory *ngFor="let subcategory of subcategories" [subcategory]="subcategory" [categoryId]="categoryId"></app-subcategory>
        </div>
    </div>
</div>
