<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__line"></div>
        <ul class="contacts">
            <li class="contacts__item"><img class="icon" src="assets/icons/a1_.png" alt="">+375-29-555-10-55
            </li>
            <li class="contacts__item"><span class="icon-life">:)</span>+375-29-555-10-55</li>
            <li class="contacts__item"><img class="icon" src="assets/icons/old-phone.png">+375-17-255-10-55</li>
            <li class="contacts__item"><img class="icon" src="assets/icons/viber.png">Viber</li>
            <li class="contacts__item"><img class="icon" src="assets/icons/telegram.png">Telegram</li>
            <li class="contacts__item"><img class="icon" src="assets/icons/mail.png">E-mail</li>
            <li class="contacts__item"><img class="icon" src="assets/icons/contract.png">Write us</li>
        </ul>
        <div class="footer__line"></div>
        <div class="social-network">
            <div class="social-network__item"><a class="social-network__link" href="https://vk.com" target="_blank"><img
                        class="social-network__icon vk" src="assets/icons/vk.svg"></a></div>
            <div class="social-network__item"><a class="social-network__link" href="https://facebook.com"
                    target="_blank"><img class="social-network__icon facebook" src="assets/icons/facebook.svg"></a>
            </div>
            <div class="social-network__item"><a class="social-network__link" href="https://instagram.com"
                    target="_blank"><img class="social-network__icon instagram" src="assets/icons/instagram.svg"></a>
            </div>
            <div class="social-network__item"><a class="social-network__link" href="https://youtube.com"
                    target="_blank"><img class="social-network__icon youtube" src="assets/icons/youtube.svg"></a></div>
            <div class="social-network__item"><a class="social-network__link ok" href="https://ok.ru"
                    target="_blank"><img class="social-network__icon" src="assets/icons/ok.svg"></a></div>
        </div>
    </div>
</footer>
