<form class="form">
    <div class="form__close-item" (click)="onCloseItemClick()">x</div>
    <h2 class="form__title">Регистрация</h2>

    <div class="form__input-wrap">
        <label>Имя</label>
        <input #inputFirstName type="text" class="user__name form__input" required
            (input)="onGetFirstNameInputValue(inputFirstName)">
    </div>
    <div class="form__input-wrap">
        <label>Фамилия</label>
        <input #inputLastName type="text" class="user__password form__input" required
            (input)="onGetLastNameInputValue(inputLastName)">
    </div>
    <div class="form__input-wrap">
        <label>Логин</label>
        <input #inputLogin type="text" class="user__name form__input" required
            (input)="onGetLoginlInputValue(inputLogin)">
    </div>
    <div class="form__input-wrap">
        <label>Пароль</label>
        <input #inputPassword type="password" class="user__password form__input" required
            pattern="[0-9a-zA-Z!@#$%^&*]{1,}" (input)="onGetPasswordInputValue(inputPassword)">
    </div>
    <button type="button" class="submit-btn" (click)="onSubmit()"
        [ngClass]="inputFirstName.validity.valid && inputLastName.validity.valid && inputLogin.validity.valid && inputPassword.validity.valid ? 'activ-btn' : ''">Зарегистрироваться</button>
</form>
