<div class="item">
    <div class="item__breadcrumbs">llllllllllllllllll</div>
    <h2 class="item__title">{{item?.name}}</h2>
    <div class="item__inner-wrapper">
        <div class="item__slider">Slider</div>
        <div class="item__pic">
            <img [src]="imageUrl" alt="" class="item__img">
        </div>
        <div class="item__info">
            <div class="item__price">{{item?.price | number : "0.2"}} p.</div>
            <div class="item__amount"><img src="assets/icons/tick.svg" alt="" class="item__amount_icon icon"> В наличии
            </div>
            <div class="item__rating">{{item?.rating}}
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
                <img src="assets/icons/star.svg" alt="" class="item__rating_icon icon">
            </div>
            <!-- <button class="item__add-busket_btn">В корзину</button> -->
            <app-add-to-basket-button [itemId]="item?.id"></app-add-to-basket-button>
            <span>{{item?.id}}</span>
            <button class="item__add-favorites_btn"><img src="assets/icons/heart.svg" alt=""
                    class="item__favorites_icon icon">Добавить в
                избранное</button>
            <p class="item__text">
                Доставка по Минску
                курьером до клиента — завтра, бесплатно
                самовывоз в Минске — завтра, бесплатно
            </p>
        </div>
    </div>
    <div class="item__description">
        <div class="item__btns-wrapper">
            <button class="item__review-btn btn btn-active">Descr</button>
            <button class="item__feedback-btn btn">Feedback</button>
            <button class="item__questions-btn btn">Questions</button>
            <div class="item__btns-border"></div>
        </div>
        <p class="item__description-text">{{item?.description}}</p>
        <p class="item__static-text">Информация о товаре предоставлена для ознакомления и не является публичной офертой.
            Производители оставляют за собой право изменять внешний вид, характеристики и комплектацию товара,
            предварительно не уведомляя продавцов и потребителей. Просим вас отнестись с пониманием к данному факту и
            заранее приносим извинения за возможные неточности в описании и фотографиях товара.</p>
    </div>
</div>
