<p *ngIf="isEmpty" class="orders__text">Ваша корзина пуста</p>
<div *ngIf="!isEmpty">
    <p class="orders__text">Список товаров</p>

    <table class="table">
        <thead>
            <tr>
                <th class="th__img"></th>
                <th class="th__name">Товар</th>
                <th class="th__description">Описание</th>
                <th class="th__quantity">Количество</th>
                <th class="th__delivery">Доставка</th>
                <th class="th__price">Стоимость</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr" *ngFor="let item of items">
                <td class="td__picture"><img [src]="getImageUrl(item)" alt="" class="td__picture_img"></td>
                <td class="td__name">
                    <p class="td__name_text" (click)="goToItemDetailedPage(item?.id)">{{item?.name}}</p>
                    <app-add-to-favorite-button [itemId]="item?.id"></app-add-to-favorite-button>
                    <button class="item__delete_btn btn">Удалить</button>
                </td>
                <td class="td__description">{{item?.description}}</td>
                <td class="td__quantity">
                    <div class="td__quantity-wrapper">
                        <button class="td__quantity-plus_btn" (click)="addOrderQuantity(quantity, item.id)">+</button>
                        <input #quantity type="text" class="td__quantity-total" value="1">
                        <button class="td__quantity-mines_btn"
                            (click)="reduceOrderQuantity(quantity, item.id)">-</button>
                    </div>
                </td>
                <td class="td__delivery">Курьером: сегодня
                    Самовывоз: сегодня
                </td>
                <td class="td__price">{{getTotalPrice(item.price, quantity.value) | number : "0.2"}} p.</td>
            </tr>
        </tbody>
    </table>
    <p class="tr__sum"><span>Общая стоимость: <span class="tr__sum_num">{{orderSum | number : "0.2"}} p.</span></span>
    </p>
</div>
