<form action="" class="form" [formGroup]="form" (ngSubmit)="submit(currentOrder)">
    <div class="form__close-item" (click)="onCloseItemClick()">x</div>
    <h3 class="form__title">Пожалуйста, введите данные</h3>
    <div class="form__devider"></div>
    <div class="form__wrapper">
        <label>*Адрес доставки</label>
        <input type="text" class="user__address" placeholder="Улица, дом, квартира" formControlName="address">
        <div class="validator" *ngIf="address?.invalid && address?.touched">
            <small *ngIf="address?.errors?.required">Поле не может быть пустым</small>
            <small *ngIf="address?.errors?.minlength">Количество символов должно быть больше или равно
                {{address?.errors?.minlength.requiredLength}}. Текущее количество символов
                {{address?.errors?.minlength.actualLength}}
            </small>
            <small *ngIf="address?.errors?.maxlength">Количество символов должно быть меньше или равно
                {{address?.errors?.maxlength.requiredLength}}. Текущее количество символов
                {{address?.errors?.maxlength.actualLength}}
            </small>
        </div>
    </div>

    <div class="form__wrapper last">
        <div class="form__inner-wrapper">
            <div class="form__wrapper">
                <label>*Дата доставки: </label>
                <select class="date" formControlName="date">
                    <option>25 сентября 2021г.</option>
                    <option>26 сентября 2021г.</option>
                    <option>27 сентября 2021г.</option>
                    <option>28 сентября 2021г.</option>
                    <option>29 сентября 2021г.</option>
                </select>
                <div class="validator" *ngIf="date?.invalid && date?.touched">
                    <small *ngIf="date?.errors?.required">Поле не может быть пустым</small>
                    <small *ngIf="date?.errors?.pattern">Поле может содержать только цифры</small>
                </div>
            </div>
            <div class="form__wrapper">
                <label>*Время доставки: </label>
                <select class="time" formControlName="time">
                    <option>14:00 - 17:00</option>
                    <option>15:00 - 18:00</option>
                    <option>16:00 - 19:00</option>
                    <option>17:00 - 20:00</option>
                    <option>18:00 - 21:00</option>
                    <option>19:00 - 22:00</option>
                </select>
                <div class="validator" *ngIf="time?.invalid && time?.touched">
                    <small *ngIf="time?.errors?.required">Поле не может быть пустым</small>
                    <small *ngIf="time?.errors?.pattern">Поле может содержать только цифры</small>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="submit-btn" [disabled]="form.invalid" (click)="submitOrder.emit(true)">Подтвердить
        изменения</button>
</form>
